.container{
    margin: 30px 350px 350px;
    max-width: 50%;
    background-color: rgb(37, 37, 37); 
    height: 500px;
    border-radius: 10px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;

}
#display {
    margin-bottom: 5px;
    height: 60px;
    text-align: right;
    border: 1px solid #000;
    font-size: 40px;
    left: 2px;
    top: 2px;
    border-radius: 7px;
    background-color: #f5eeee;
}
table{
    width: 100% ;
    text-align: center;
}
table tr td:hover{
    cursor: pointer;
}
table tr td{
    padding: 10px;
}
.btnNum{
    color: white;
    background: linear-gradient(180deg, rgb(29, 28, 28), #000);
    font-size: 14px;
    width: 40px;
    border-radius: 10px;
}
  .btnSym{
    color: white;
    background: linear-gradient(180deg, #919090, #6f6f6f);
    font-size: 14px;
    width: 40px;
    border-radius: 10px;
  }
  .btnAct{
    color: white;
    background: linear-gradient(180deg, #7a4747, #552b2b);
    font-size: 14px;
    width: 40px;
    border-radius: 10px;
  }
#btnLast{
    color: white;
    background: linear-gradient(180deg, #ce471d, #ee6a42);
    font-size: 14px;
    width: 40px;
    border-radius: 10px;
}
#btnFirst{
    color: #f35829;
    background: linear-gradient(180deg, rgb(37, 37, 37), #000);
    font-size: 14px;
    width: 40px;
    border-radius: 10px;
}
